body {
	margin: auto;
}
.box {
	width: 29%;
	height: 250px;
	margin: 12px;
	display: inline-block;
	position: relative;
}
.top-bar {
	text-align: center;
	background: gray;
	font-size: 7em;
}
.name {
	text-align:center;
	font-size: 3em;
	font-family: fertigo-script, cursive;
	font-style: normal;
	font-weight: 400;
}
.container {
	margin: 0 10%;
	padding-top: 40px;
}
.main {
	background: ivory;
}
.box img {
	display: block;
	margin: auto;
}

#back {
	float:left;
	color: floralwhite;
	margin-left: 10px;
}
#title {
	color: floralwhite;
}